<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Area</th>
      <th>Price</th>
      <th>Address</th>
      <th>Lang</th>
      <th>Lat</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.kind %></td>
        <td><%= post.area %></td>
        <td><%= post.price %></td>
        <td><%= post.address %></td>
        <td><%= post.lang %></td>
        <td><%= post.lat %></td>
        <td><%= image_tag post.avatar.url(:thumb) %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if member_signed_in?%>
<%= link_to 'New Post', new_post_path %>
<% end %>